body {
  background: #f0f0f0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

.signup {
  width: 500px;
  height: 625px;
  margin: 10px auto;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

header {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #4caf50;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #4caf50;
  box-shadow: 0 1px 0 0 #000;
}

.input-field label {
  color: #4caf50;
}   

h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

.homeimg {
  background: url(../images/computers.jpg) no-repeat center center fixed;
  background-size: cover;
}

.smallIcon {
  font-size: 20px !important;
  padding: 0px 15px 15px 15px;
}

.green50 {
  color: #4caf50 !important;
}

.mobilelog {
  padding: 10px 5px 5px 5px;
  margin: 0px 5px 5px 0px;
  font-size: 15px;
}

.logbutton {
  margin: 5px 5px 10px 15px !important;
  left: 11px !important;
  font-size: 13px;
  width: 60px;
  padding: 0px;
}

.logfield {
  font-size: 10pt !important;
}
